<div class="modal fade bd-example-modal-lg" id="InterestModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content card">

            <div class="card-body">


                <div class="p-5">

                    <div class="progress mt-3 mb-3">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            100% Complete
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-3 ">

                        </div>
                        <div class="col-7 text-left ">

                            <h2 class="mt-3 ">Customize your learning.</h2>

                            <div class="text-left mb-5">
                                <li>Personalize videos for you and your interests</li>
                                <li>Help research & innovate how to improve learning</li>
                                <li>Information will NEVER be shared or sold</li>
                            </div>

                        </div>
                        <div class="col-1 ">
                        </div>
                    </div>



                    <div class="row">

                        <div class="col-4">
                            <div class="form-row">

                                <div class="form-group col-12">

                                    <label for="inputUsername">Major</label>
                                    <select class="form-control">
                                        <option>
                                            Undeclared
                                        </option>
                                    </select>


                                </div>

                                <div class="form-group col-12">

                                    <label for="inputUsername">Age</label>
                                    <input type="number" class="form-control" min="10" max="100" value="18">

                                </div>


                                <div class="form-group col-12">

                                    <label for="inputUsername">Gender</label>
                                    <select class="form-control">
                                        <option>
                                            Male
                                        </option>
                                        <option>
                                            Female
                                        </option>
                                        <option>
                                            Non-Binary
                                        </option>
                                    </select>


                                </div>


                            </div>
                        </div>

                        <div class="col-8">
                            <div class="form-row">

                                <div class="form-group col-12">
                                    <label for="inputUsername">What is your area of Interest?</label>
                                    <input type="text" class="form-control" id="inputUsername" autocomplete="off" name="username" placeholder="Search for your area of Interest.">
                                    <div class="searchDropdown" style="width:90%; height:auto; background-color:#fff;border:1px solid #d3d3d3;position:absolute;box-shadow: 0px 8px 9px -6px rgba(0,0,0,0.75);z-index:999; 
        display:none; ">


                                        <ul class="list-group">

                                        </ul>
                                    </div>

                                    <div class="alert alert-warning mt-3 interestWarning" role="alert" style="display:none;">
                                        You can select Maximum 5 Area of Interest.</div>
                                    <div class="mt-3 interest-buttons">




                                        <% @interestData.each do |int| %>
                                            <a class="btn btn-outline-primary mb-1 Intr<%= int.id %> IntrButton" valSet="false" id="<%= int.id %>">
                                                <%= int.interest_name %>
                                            </a>
                                            <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-primary w-100 mt-5 mb-3" data-dismiss="modal" >Save</button>


                </div>


                <!-- <a href="#" class="btn btn-outline-primary">Close</a> -->
            </div>
        </div>
    </div>
</div>